[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/damiencaselli/hugo-journal.git
[submodule "public"]
	path = public
	url = git@github.com:guersam/guersam.github.io.git
	branch = master
[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/digitalcraftsman/hugo-cactus-theme.git
	branch = master
